body {
    background-color: rgb(194, 108, 255);
}
     nav {text-align: center;
}
header a{padding:20px;
color: rgb(179, 239, 255);
     
}
 header {background-color: rgb(238, 129, 187); 
   padding:20px;
}
h1 {font-size: 90px;
text-align: center;
color: rgb(179, 239, 255);

}
 div{
text-align: center;
}
footer{padding: 5px;
background-color: rgb(255, 180, 220);}

footer p{font-size: 25px }
